{% set field_class = "volScalarField" %}{% set field_name = "alphat" %}{% include "heated_pipe/0/_header.j2" %}

dimensions      [1 -1 -1 0 0 0 0];

internalField   uniform 0;

boundaryField
{
    inlet
    {
        type            calculated;
        value           uniform 0;
    }
    outlet
    {
        type            calculated;
        value           uniform 0;
    }
    wall
    {
        type            compressible::alphatWallFunction;
        Prt             {{ prt }};
        value           uniform 0;
    }
{% include "heated_pipe/0/_wedge.j2" %}
}

// ************************************************************************* //
