{% set field_class = "volScalarField" %}{% set field_name = "alphat" %}{% include "heated_pipe/0/_header.j2" %}

dimensions      [1 -1 -1 0 0 0 0];

internalField   uniform 0;

boundaryField
{
    inlet
    {
        type            calculated;
        value           uniform 0;
    }
    outlet
    {
        type            calculated;
        value           uniform 0;
    }
    wall
    {
{% if resolved %}
        type            compressible::alphatWallFunction;
{% else %}
        // thermal law of the wall with the Jayatilleke sublayer resistance: the plain alphat wall
        // function (alphat_w = nut_w/Prt) ignores the molecular Prandtl number and over-predicts wall
        // heat transfer by >2x for water (Pr ~ 6) at y+ ~ 40
        type            compressible::alphatJayatillekeWallFunction;
{% endif %}
        Prt             {{ prt }};
        value           uniform 0;
    }
{% include "heated_pipe/0/_wedge.j2" %}
}

// ************************************************************************* //
